@font-face {
	font-family: 'TradeGothicLTPro-BdCn20';
	src: url('../fonts/260C12_2_0.eot');
	src: url('../fonts/260C12_2_0.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/260C12_2_0.woff') format('woff'),
	     url('../fonts/260C12_2_0.ttf') format('truetype');
}

@font-face {
	font-family: 'DIN1451Com-Engschrift';
	src: url('../fonts/2832FE_0_0.eot');
	src: url('../fonts/2832FE_0_0.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/2832FE_0_0.woff') format('woff'),
	     url('../fonts/2832FE_0_0.ttf') format('truetype');
}

@font-face {
	font-family: 'BrandonGrotesque-Medium';
	src: url('../fonts/283395_0_0.eot');
	src: url('../fonts/283395_0_0.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/283395_0_0.woff') format('woff'),
	     url('../fonts/283395_0_0.ttf') format('truetype');
}

@font-face {
	font-family: 'BodoniBT-BookItalic';
	src: url('../fonts/281D5A_0_0.eot');
	src: url('../fonts/281D5A_0_0.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/281D5A_0_0.woff') format('woff'),
	     url('../fonts/281D5A_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'KameronRegular';
    src: url('../fonts/Kameron-Regular-webfont.eot');
    src: url('../fonts/Kameron-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Kameron-Regular-webfont.woff') format('woff'),
         url('../fonts/Kameron-Regular-webfont.ttf') format('truetype');
}

.clear{clear:both;}

.error{color:red;display:block;font-size:11px;margin:5px 0 0 0;}

.archive-title{
	color:#666;
	font-family: 'BrandonGrotesque-Medium', sans-serif;
	font-weight:400;
	font-size:11px;
	letter-spacing:1px;
	text-transform:uppercase;
	margin:20px 0 15px 0;
}

#workArchiveContainer{
	padding:0 30px;
}

#workArchiveContent{
	margin:0 0 0 -1%;
}

#workArchiveContent .work-excerpt{
	float:left;
	margin:0 0 2% 1%;
	position:relative;
	width:24%;
}

#workArchiveContent .work-excerpt:nth-child(4n+1){
	clear:left;
}

#workArchiveContent .work-excerpt h3{
	color:#666;
	font-family: 'BodoniBT-BookItalic', serif;
	font-size:14px;
	font-weight:400;
	margin:0;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	width:100%;
}

#workArchiveContent .work-excerpt .overlay{
	background:#fff;
	background:rgba(255,255,255,.9);
	height:100%;
	left:0;
	position:absolute;
	text-align:center;
	text-decoration:none;
	opacity:0;
	top:0;
	width:100%;
}

#workArchiveContent .work-excerpt:hover .overlay{
	opacity:1;
}

#workArchiveContent .work-excerpt img{
	display:block;
	height:auto;
	width:100%;
}

body {
	background-color: white;
	padding: 0px;
	margin: 0px;
}

html.home, body.home {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.wrapper {
	top: 0px;
	height: 100%;
	width: 100%;
	position: absolute;
	overflow: auto;
}

#homeContentContainer {
	position: relative;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
}

#topBarContainer {
	background-repeat: repeat;
	background-image: url(../images/top_bar_back_tile.png);
	width: 100%;
	height: 32px;
}

#homeContent {
	max-width: 920px;
	padding-left: 30px;
	padding-bottom: 0px;
	padding-right: 30px;
	padding-top: 0px;
	margin-left: auto;
	margin-bottom: 0px;
	margin-right: auto;
	margin-top: 30px;
}

#homeContent h1 {
	margin: 0px;
	height: 86px;
	width: 148px;
	background-repeat: no-repeat;
	background-image: url(../images/logo.png);
	background-size: 148px 86px;
}

#homeContent h1 a {
	display: block;
	height: 103px;
	width: 177px;
	text-indent: -9999px;
}

#homeNav {
	z-index: 9998;
	position: relative;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 150px;
	padding: 0px;
	list-style-type: none;
}

#homeNav li {
	line-height: 36px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 10px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 17px;
	background-position: left top;
	background-repeat: no-repeat;
	background-image: url(../images/home_hr.png);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 36px;
	font-family: 'TradeGothicLTPro-BdCn20', sans-serif;
}

#homeNav li.first {
	padding-top: 0px;
	margin-top: 0px;
	background: none;
}

#homeNav li a {
	text-decoration: none;
	color: #666666;
}

#homeNav li a:hover {
	font-style: italic;
}

#homeContent h2 {
	line-height: 13px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 40px;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 13px;
	font-family: 'TradeGothicLTPro-BdCn20', sans-serif;
	color: #666666;
}

#homeContent h3 {
	line-height: 11px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 6px;
	letter-spacing: 2px;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 11px;
	font-family: 'TradeGothicLTPro-BdCn20', sans-serif;
	color: #666666;
}

#homeContent .trademark {
	margin-top: 10px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 12px;
	background-position: left top;
	background-repeat: no-repeat;
	background-image: url(../images/hr_sm.png);
}

#homeFooterContainer {
	z-index: 9997;
	width: 100%;
	bottom: 0px;
	position: absolute;
}

#homeFooter, #footer {
	max-width: 980px;
	padding-left: 0px;
	padding-bottom: 20px;
	padding-right: 0px;
	padding-top: 40px;
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url(../images/footer_no9.png);
	margin-left: auto;
	margin-bottom: 0px;
	margin-right: auto;
	margin-top: 0px;
}

#homeFooter .container, #footer .container {
	overflow: hidden;
}

#homeFooter .colLeft, #footer .colLeft {
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 4px;
	float: left;
	width: 33%;
}

#homeFooter .colLeft h4, #homeFooter .colRight h4 {
	width: 70px;
	text-align: center;
	margin-left: auto;
	margin-bottom: 12px;
	margin-right: auto;
	margin-top: 0px;
	line-height: 10px;
	padding-left: 0px;
	padding-bottom: 2px;
	padding-right: 0px;
	padding-top: 3px;
	letter-spacing: 2px;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 10px;
	color: #666666;
	background-color: white;
	font-family: 'DIN1451Com-Engschrift', sans-serif;
}

#footer .colLeft h4, #footer .colRight h4 {
	width: 70px;
	text-align: center;
	margin-left: auto;
	margin-bottom: 12px;
	margin-right: auto;
	margin-top: 0px;
	line-height: 10px;
	padding-left: 0px;
	padding-bottom: 2px;
	padding-right: 0px;
	padding-top: 3px;
	letter-spacing: 2px;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 10px;
	color: #666666;
	background-color: #cccccc;
	font-family: 'DIN1451Com-Engschrift', sans-serif;
}

#homeFooter .colLeft ul, #footer .colLeft ul {
	margin-left: 0px;
	margin-bottom: 6px;
	margin-right: 0px;
	margin-top: 0px;
	text-align: center;
	padding: 0px;
	list-style-type: none;
}

#homeFooter .colLeft li, #footer .colLeft li {
	line-height: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 10px;
	margin-left: 3px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-left: 8px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 0px;
	background-position: left center;
	background-repeat: no-repeat;
	background-image: url(../images/x_sm.png);
	display: inline;
	font-family: 'DIN1451Com-Engschrift', sans-serif;
}

#homeFooter .colLeft li.first, #footer .colLeft li.first {
	margin-left: 0px;
	padding-left: 0px;
	background: none;
}

#homeFooter .colLeft li a, #footer .colLeft li a {
	text-decoration: none;
	color: #666666;
}

#homeFooter .colLeft li a:hover, #footer .colLeft li a:hover {
	color: #078158;
}

#homeFooter .colRight, #footer .colRight {
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 4px;
	float: right;
	width: 33%;
}

#homeFooter .colRight p, #footer .colRight p {
	margin-left: 0px;
	margin-bottom: 6px;
	margin-right: 0px;
	margin-top: 0px;
	line-height: 10px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 10px;
	color: #666666;
	font-family: 'DIN1451Com-Engschrift', sans-serif;
}

#homeFooter .colRight p a, #footer .colRight p a {
	text-decoration: none;
	color: #666666;
}

#homeFooter .colRight p a:hover, #footer .colRight p a:hover {
	color: #078158;
}

#homeFooter .colMiddle, #footer .colMiddle {
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 28px;
	border-right-color: #666666;
	border-left-color: #666666;
	border-left-style: solid;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-width: 1px;
	width: 33%;
	margin-left: auto;
	margin-bottom: 0px;
	margin-right: auto;
	margin-top: 0px;
}

#homeFooter .colMiddle h4, #footer .colMiddle h4 {
	text-align: center;
	margin: 0px;
	color: #666666;
	text-transform: uppercase;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 2px;
	line-height: 11px;
	font-size: 11px;
	font-family: 'DIN1451Com-Engschrift', sans-serif;
}

#homeFooter .colMiddle h5, #footer .colMiddle h5 {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 6px;
	line-height: 10px;
	text-align: center;
	color: #666666;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 10px;
	font-family: 'DIN1451Com-Engschrift', sans-serif;
}

#homeFooter .colMiddle a.downBtn, #footer .colMiddle a.downBtn {
	margin-left: auto;
	margin-bottom: 0px;
	margin-right: auto;
	margin-top: 10px;
	display: block;
	background-repeat: no-repeat;
	background-image: url(../images/home_arrow_down_bt.png);
	height: 11px;
	width: 22px;
	text-indent: -9999px;
}

#homeFooter .colMiddle a.downBtn:hover, #footer .colMiddle a.downBtn:hover {
	background-repeat: no-repeat;
	background-image: url(../images/home_arrow_down_sbt.png);
}

#homeBottomContainer {
	position: relative;
	background-repeat: no-repeat;
	background-image: url(../images/home_btm_back_photo.jpg);
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
}

#homeBottom {
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 20px;
	top: 27%;
	position: absolute;
	height: 455px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../images/home_green_x_back.png);
}

#homeBottom a.upBtn {
	margin-left: auto;
	margin-bottom: 0px;
	margin-right: auto;
	margin-top: 0px;
	display: block;
	background-repeat: no-repeat;
	background-image: url(../images/home_arrow_up_bt.png);
	height: 11px;
	width: 22px;
	text-indent: -9999px;
}

#homeBottom h4 {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 140px;
	line-height: 40px;
	text-align: center;
	color: #F2F0E8;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 24px;
	font-family: 'DIN1451Com-Engschrift', sans-serif;
}

#homeBottom h5 {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 14px;
	line-height: 13px;
	text-align: center;
	color: #F2F0E8;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 13px;
	font-family: 'DIN1451Com-Engschrift', sans-serif;
}

#homeBottom .copyright {
	margin-top: 18px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 20px;
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url(../images/home_btm_hr.png);
}

#topContainer {
	z-index: 9999;
	background-color: white;
	left: 0px;
	top: 0px;
	position: fixed;
	width: 100%;
}

#topBar {
	max-width: 852px;
	height: 23px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 128px;
	padding-top: 9px;
	text-align: right;
	margin-left: auto;
	margin-bottom: 0px;
	margin-right: auto;
	margin-top: 0px;
}

#topBar a.blogLink {
	display: inline-block;
	text-transform: uppercase;
	padding-left: 24px;
	padding-bottom: 2px;
	padding-right: 24px;
	padding-top: 3px;
	text-align: center;
	background-color: white;
	text-decoration: none;
	color: #078158;
	letter-spacing: 2px;
	line-height: 10px;
	font-size: 10px;
	font-family: 'DIN1451Com-Engschrift', sans-serif;
}

#topBar a.blogLink:hover {
	color: #666666;
	background-color: #cccccc;
}

#top {
	max-width: 980px;
	padding-left: 0px;
	padding-bottom: 16px;
	padding-right: 0px;
	padding-top: 16px;
	margin-left: auto;
	margin-bottom: 0px;
	margin-right: auto;
	margin-top: 0px;
}

#container {
	max-width: 980px;
	padding: 0px;
	margin-left: auto;
	margin-bottom: 0px;
	margin-right: auto;
	margin-top: 0px;
}

#header {
	margin: 0px;
	padding-left: 30px;
	padding-bottom: 0px;
	padding-right: 30px;
	padding-top: 0px;
	overflow: hidden;
}

#header h1 {
	float: left;
	margin: 0px;
	height: 86px;
	width: 148px;
	background-repeat: no-repeat;
	background-image: url(../images/logo.png);
	background-size: 148px 86px;
}

#header h1 a {
	display: block;
	height: 103px;
	width: 177px;
	text-indent: -9999px;
}

#headerRight {
	width: 270px;
	float: right;
}

#headerRight h2 {
	letter-spacing: 3px;
	line-height: 12px;
	font-size: 12px;
	margin: 0px;
	text-transform: uppercase;
	font-style: normal;
	font-weight: normal;
	color: #666666;
	text-align: center;
	font-family: 'DIN1451Com-Engschrift', sans-serif;
}

#headerRight h3 {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 12px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 14px;
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url(../images/hr_sm.png);
	letter-spacing: 2px;
	line-height: 10px;
	font-size: 10px;
	text-transform: uppercase;
	font-style: normal;
	font-weight: normal;
	color: #666666;
	text-align: center;
	font-family: 'DIN1451Com-Engschrift', sans-serif;
}

#topNav {
	padding: 0px;
	text-align: right;
	margin: 0px;
	list-style-type: none;
	background-repeat: repeat-x;
	background-image: url(../images/nav_back_tile.gif);
	height: 33px;
}

#topNav li {
	display: inline;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 12px;
	margin-top: 0px;
}

#topNav li a {
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 11px;
	text-align: center;
	color: #666666;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 10px;
	font-size: 10px;
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(../images/nav_back.gif);
	height: 22px;
	width: 91px;
	font-family: 'TradeGothicLTPro-BdCn20', sans-serif;
}

#topNav li a:hover {
	color: #078158;
}

#topNav li a.active {
	background-repeat: no-repeat;
	background-image: url(../images/nav_back_active.gif);
}

#workSubnav {
	padding-left: 30px;
	padding-bottom: 22px;
	padding-right: 30px;
	padding-top: 0px;
	background-position: 0 bottom;
	background-repeat: no-repeat;
	background-image: url(../images/subnav_btm_back.gif);
	overflow: hidden;
}

#workSubnav .col {
	width: 180px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 44px;
	margin-top: 0px;
	float: left;
}

#workSubnav .col ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#workSubnav .col li {
	line-height: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 9px;
	font-family: 'BrandonGrotesque-Medium', sans-serif;
}

#workSubnav .col li a {
	text-decoration: none;
	color: #666666;
}

#workSubnav .col li a:hover, #workSubnav .col li a.active {
	color: #078158;
}

#workContent {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 30px;
	padding-left: 30px;
	padding-bottom: 0px;
	padding-right: 30px;
	padding-top: 0px;
}

#workTop {
	background-position: 602px top;
	background-repeat: repeat-y;
	background-image: url(../images/top_bar_back_tile.png);
	overflow: hidden;
}

#workLeft {
	float: left;
	width: 580px;
}

#workLeft h2 {
	margin: 0px;
	font-size: 28px;
	font-style: normal;
	font-weight: normal;
	color: #666666;
	font-family: 'BodoniBT-BookItalic', serif;
}

#workLeft p {
	line-height: 22px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 4px;
	font-size: 14px;
	color: #666666;
	font-family: 'Sentinel A', 'Sentinel B', serif;
}

#workLeft .url {
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 10px;
	font-size: 10px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 20px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 20px;
	border-top-color: #666666;
	border-top-style: solid;
	border-top-width: 1px;
	font-family: 'BrandonGrotesque-Medium', sans-serif;
}

#workLeft .url a {
	font-size: 12px;
	letter-spacing: normal;
	text-transform: lowercase;
	color: #666666;
	text-decoration: none;
	font-family: 'Sentinel A', 'Sentinel B', serif;
}

#workLeft .url a:hover {
	color: #078158;
}

#workRight {
	padding-left: 34px;
	padding-bottom: 8px;
	padding-right: 34px;
	padding-top: 8px;
	float: right;
	width: 248px;
}

#workRight h3 {
	padding-left: 0px;
	padding-bottom: 16px;
	padding-right: 0px;
	padding-top: 0px;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-image: url(../images/hr_med.gif);
	letter-spacing: 2px;
	font-style: normal;
	font-weight: normal;
	margin: 0px;
	text-transform: uppercase;
	text-align: center;
	line-height: 10px;
	font-size: 10px;
	color: #666666;
	font-family: 'BrandonGrotesque-Medium', sans-serif;
}

#workRight ul {
	margin-left: auto;
	margin-bottom: 0px;
	margin-right: auto;
	margin-top: 10px;
	width: 248px;
	padding: 0px;
	list-style-type: none;
	overflow: hidden;
}

#workRight li {
	line-height: 28px;
	font-size: 13px;
	color: #666666;
	text-align: center;
	width: 124px;
	float: left;
	font-family: 'Sentinel A', 'Sentinel B', serif;
}

#workRight li a{color:#666666;text-decoration:none}
#workRight li a:hover{color:#078158;}

#workPhotos {
	padding-left: 30px;
	padding-bottom: 0px;
	padding-right: 30px;
	padding-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 30px;
}

#workPhotos .photo {
	width: 100%;
	margin-left: 0px;
	margin-bottom: 8px;
	margin-right: 0px;
	margin-top: 0px;
	text-align: center;
}

#topLink {
	padding-left: 30px;
	padding-bottom: 10px;
	padding-right: 30px;
	padding-top: 24px;
	overflow: hidden;
}

#topLink a {
	float: right;
	text-align: center;
	display: block;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 20px;
	width: 22px;
	background-position: center top;
	text-decoration: none;
	font-size: 9px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #666666;
	background-repeat: no-repeat;
	background-image: url(../images/footer_up_bt.png);
	font-family: 'DIN1451Com-Engschrift', sans-serif;
}

#topLink a:hover {
	background-repeat: no-repeat;
	background-image: url(../images/footer_up_sbt.png);
}

#studioSubnav, #contactSubnav {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: -8px;
	padding-left: 30px;
	padding-bottom: 0px;
	padding-right: 30px;
	padding-top: 0px;
	background-position: 0 bottom;
	background-repeat: repeat-x;
	background-image: url(../images/hr_tile.gif);
	list-style-type: none;
	overflow: hidden;
}

#studioSubnav li, #contactSubnav li {
	display: inline;
	line-height: 9px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 36px;
	margin-top: 0px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 9px;
	font-family: 'BrandonGrotesque-Medium', sans-serif;
}

#studioSubnav li a, #contactSubnav li a {
	padding-left: 0px;
	padding-bottom: 14px;
	padding-right: 0px;
	padding-top: 0px;
	display: inline-block;
	text-decoration: none;
	color: #666666;
}

#studioSubnav li a:hover, #studioSubnav li a.active, #contactSubnav li a:hover, #contactSubnav li a.active {
	background-position: center bottom;
	background-repeat: no-repeat;
	background-image: url(../images/nav_btm_arrow.gif);
	color: #078158;
}

#studioContent {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 20px;
}

#servicesContent {
	background-position: 674px top;
	background-repeat: repeat-y;
	background-image: url(../images/vr_tile.gif);
	overflow: hidden;
}

#servicesLeft {
	padding-left: 30px;
	padding-bottom: 0px;
	padding-right: 30px;
	padding-top: 0px;
	float: left;
	width: 614px;
}

#servicesRight {
	padding-left: 30px;
	padding-bottom: 0px;
	padding-right: 30px;
	padding-top: 20px;
	float: right;
	width: 245px;
}

#servicesSlideshow {
	width: 614px;
	margin-left: auto;
	margin-bottom: 0px;
	margin-right: auto;
	margin-top: 0px;
	position: relative;
}

#servicesSlideshow .slideshow {
	width: 614px;
	height: 482px;
	overflow: hidden;
}

#servicesSlideshow .slide {
	height: 382px;
	width: 382px;
	background-position: center;
	padding-left: 116px;
	padding-bottom: 0px;
	padding-right: 116px;
	padding-top: 100px;
}

#servicesSlide1 {
	background-repeat: no-repeat;
	background-image: url(../images/studio_services1_back.jpg);
}

#servicesSlide2 {
	background-repeat: no-repeat;
	background-image: url(../images/studio_services2_back.jpg);
}

#servicesSlide3 {
	background-repeat: no-repeat;
	background-image: url(../images/studio_services3_back.jpg);
}

#servicesSlide4 {
	background-repeat: no-repeat;
	background-image: url(../images/studio_services4_back.jpg);
}

#servicesSlideshow .slide h3 {
	padding-left: 0px;
	padding-bottom: 20px;
	padding-right: 0px;
	padding-top: 0px;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-image: url(../images/services_hr.gif);
	text-align: center;
	margin: 0px;
	font-size: 30px;
	font-style: normal;
	font-weight: normal;
	color: #666666;
	font-family: 'BodoniBT-BookItalic', serif;
}

#servicesSlideshow .slide p {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 20px;
	line-height: 32px;
	text-align: center;
	font-size: 20px;
	color: #666666;
	font-family: 'Sentinel A', 'Sentinel B', serif;
}

#servicesSlideshow a.prev {
	z-index: 9998;
	top: 230px;
	left: 0px;
	position: absolute;
	display: block;
	background-repeat: no-repeat;
	background-image: url(../images/arrow_prev_bt.png);
	height: 22px;
	width: 11px;
	text-indent: -9999px;
}

#servicesSlideshow a.prev:hover {
	background-repeat: no-repeat;
	background-image: url(../images/arrow_prev_sbt.png);
}

#servicesSlideshow a.next {
	z-index: 9998;
	background-repeat: no-repeat;
	background-image: url(../images/arrow_next_bt.png);
	right: 0px;
	top: 230px;
	position: absolute;
	display: block;
	height: 22px;
	width: 11px;
	text-indent: -9999px;
}

#servicesSlideshow a.next:hover {
	background-repeat: no-repeat;
	background-image: url(../images/arrow_next_sbt.png);
}

#servicesNav {
	margin-left: auto;
	margin-bottom: 0px;
	margin-right: auto;
	margin-top: 40px;
	width: 614px;
}

#servicesNav ul {
	text-align: center;
	margin: 0px;
	list-style-type: none;
	padding: 0px;
	overflow: hidden;
}

#servicesNav li {
	display: inline-block;
	padding-left: 12px;
	padding-bottom: 0px;
	padding-right: 12px;
	padding-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 12px;
	line-height: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 11px;
	font-family: 'BrandonGrotesque-Medium', sans-serif;
	background-position: 0 bottom;
	background-repeat: repeat-x;
	background-image: url(../images/hr_tile.gif);
}

#servicesNav li:first-of-type {
	padding-left: 0px;
}

#servicesNav li:last-of-type {
	padding-right: 0px;
}

#servicesNav li a {
	display: block;
	padding-left: 0px;
	padding-bottom: 10px;
	padding-right: 0px;
	padding-top: 0px;
	color: #666666;
	text-decoration: none;
}

#servicesNav li a:hover, #servicesNav li.cycle-pager-active a {
	color: #078158;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-image: url(../images/nav_btm_arrow.gif);
}

#servicesSmall {
	display: none;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 20px;
}

#servicesSmall .nav {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

#servicesSmall .nav li {
	margin-left: 0px;
	margin-bottom: 20px;
	margin-right: 0px;
	margin-top: 0px;
	float: left;
	width: 25%;
}

#servicesSmall .nav li a {
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 90px;
	text-align: center;
	display: block;
	color: #666666;
	text-decoration: none;
	line-height: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 11px;
	font-family: 'BrandonGrotesque-Medium', sans-serif;
}

#servicesSmall .nav li.service1 a {
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url(../images/studio_services1_back_sm.jpg);
}

#servicesSmall .nav li.service2 a {
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url(../images/studio_services2_back_sm.jpg);
}

#servicesSmall .nav li.service3 a {
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url(../images/studio_services3_back_sm.jpg);
}

#servicesSmall .nav li.service4 a {
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url(../images/studio_services4_back_sm.jpg);
}

#servicesSmall .nav li a:hover, #servicesSmall .nav li a.active {
	color: #078158;
}

#servicesSmall .content {
}

#servicesSmall .description {
}

#servicesSmall .description p {
	margin: 0px;
	color: #666666;
	line-height: 24px;
	font-size: 16px;
	font-family: 'Sentinel A', 'Sentinel B', serif;
}

#servicesRight h4 {
	margin: 0px;
	letter-spacing: 2px;
	font-style: normal;
	font-weight: normal;
	color: #666666;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'BrandonGrotesque-Medium', sans-serif;
}

#servicesRight p {
	color: #666666;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 20px;
	line-height: 24px;
	font-size: 16px;
	font-family: 'Sentinel A', 'Sentinel B', serif;
}

#process {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 30px;
}

#processTitle {
	text-align: right;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 80px;
	padding-top: 0px;
	background-position: 0 center;
	background-repeat: repeat-x;
	background-image: url(../images/hr_tile.gif);
	overflow: hidden;
}

#processTitle h2 {
	display: inline-block;
	padding-left: 10px;
	padding-bottom: 2px;
	padding-right: 10px;
	padding-top: 3px;
	background-color: white;
	border-color: #666666;
	border-style: solid;
	border-width: 1px;
	margin: 0px;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 10px;
	font-size: 10px;
	color: #078158;
	font-family: 'DIN1451Com-Engschrift', sans-serif;
}

#processContent {
	padding-left: 30px;
	padding-bottom: 0px;
	padding-right: 30px;
	padding-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 20px;
	background-position: 285px top;
	background-repeat: repeat-y;
	background-image: url(../images/top_bar_back_tile.png);
	overflow: hidden;
}

#processLeft {
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 80px;
	width: 231px;
	float: left;
}

#processLeft h3 {
	margin-left: auto;
	margin-bottom: 0px;
	margin-right: auto;
	margin-top: 0px;
	background-repeat: no-repeat;
	background-image: url(../images/see_work_bt.gif);
	height: 78px;
	width: 231px;
}

#processLeft h3 a {
	display: block;
	height: 78px;
	width: 231px;
	text-indent: -9999px;
}

#processRight {
	width: 635px;
	float: right;
}

#processRight h4 {
	letter-spacing: 1px;
	text-align: center;
	color: #666666;
	margin: 0px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	font-family: 'BodoniBT-BookItalic', serif;
}

#processRight h3 {
	padding-left: 0px;
	padding-bottom: 20px;
	padding-right: 0px;
	padding-top: 0px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 4px;
	text-align: center;
	color: #666666;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'DIN1451Com-Engschrift', sans-serif;
}

#processSlideshow {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 20px;
	position: relative;
	padding-left: 60px;
	padding-bottom: 0px;
	padding-right: 60px;
	padding-top: 0px;
}

#processSlideshow .slideshow {
	overflow: hidden;
}

#processSlideshow .slide {
}

#processSlideshow .slide p {
	margin: 0px;
	text-align: center;
	line-height: 24px;
	color: #666666;
	font-size: 16px;
	font-family: 'Sentinel A', 'Sentinel B', serif;
}

#processSlideshow p b {
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	font-family: 'TradeGothicLTPro-BdCn20', sans-serif;
}

#processSlideshow a.prev {
	top: 44px;
	left: 20px;
	position: absolute;
	display: block;
	background-repeat: no-repeat;
	background-image: url(../images/arrow_prev_bt.png);
	height: 22px;
	width: 11px;
	text-indent: -9999px;
}

#processSlideshow a.prev:hover {
	background-repeat: no-repeat;
	background-image: url(../images/arrow_prev_sbt.png);
}

#processSlideshow a.next {
	background-repeat: no-repeat;
	background-image: url(../images/arrow_next_bt.png);
	right: 20px;
	top: 44px;
	position: absolute;
	display: block;
	height: 22px;
	width: 11px;
	text-indent: -9999px;
}

#processSlideshow a.next:hover {
	background-repeat: no-repeat;
	background-image: url(../images/arrow_next_sbt.png);
}

#processPager {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 20px;
}

#processPager ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#processPager li {
	margin-left: 15px;
	margin-bottom: 0px;
	margin-right: 15px;
	margin-top: 0px;
	display: inline;
}

#processPager li a {
	display: inline-block;
	background-image: url(../images/x_bt.png);
	height: 5px;
	width: 5px;
	text-indent: -9999px;
}

#processPager li a:hover, #processPager li.cycle-pager-active a {
	background-repeat: no-repeat;
	background-image: url(../images/x_sbt.png);
}

#stitch {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 30px;
}

#stitchTitle {
	padding-left: 90px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 9px;
	height: 23px;
	background-repeat: repeat;
	background-image: url(../images/top_bar_back_tile.png);
}

#stitchTitle h2 {
	font-style: normal;
	font-weight: normal;
	margin: 0px;
	display: inline-block;
	text-transform: uppercase;
	padding-left: 24px;
	padding-bottom: 2px;
	padding-right: 24px;
	padding-top: 3px;
	text-align: center;
	background-color: white;
	color: #078158;
	letter-spacing: 2px;
	line-height: 10px;
	font-size: 10px;
	font-family: 'DIN1451Com-Engschrift', sans-serif;
}

#stitchContent {
	padding-left: 30px;
	padding-bottom: 0px;
	padding-right: 30px;
	padding-top: 0px;
	background-position: 660px top;
	background-repeat: repeat-y;
	background-image: url(../images/top_bar_back_tile.png);
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 30px;
	overflow: hidden;
}

#stitchLeft {
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 10px;
	float: left;
	width: 600px;
}

#stitchLeft .bio {
	display: none;
}

#stitchLeft h3 {
	letter-spacing: 1px;
	margin: 0px;
	color: #666666;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	font-family: 'BodoniBT-BookItalic', serif;
}

#stitchLeft p {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 10px;
	line-height: 24px;
	color: #666666;
	font-size: 16px;
	font-family: 'Sentinel A', 'Sentinel B', serif;
}

#stitchLeft .links {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 20px;
	padding-left: 0px;
	padding-bottom: 8px;
	padding-right: 0px;
	padding-top: 8px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-color: #666666;
	border-top-style: solid;
	border-top-width: 1px;
	overflow: hidden;
}

#stitchLeft .links p {
	padding-left: 0px;
	padding-bottom: 12px;
	padding-right: 0px;
	padding-top: 12px;
	margin: 0px;
	text-transform: uppercase;
	line-height: 12px;
	letter-spacing: 1px;
	font-size: 10px;
	font-family: 'BrandonGrotesque-Medium', sans-serif;
}

#stitchLeft .links .left {
	margin-top: 3px;
	padding-right: 30px;
	float: left;
}

#stitchLeft .links .left a {
	color: #666666;
	text-decoration: none;
}

#stitchLeft .links .left a:hover {
	color: #078158;
}

#stitchLeft .links .right {
	padding-left: 30px;
	border-left-color: #666666;
	border-left-style: solid;
	border-left-width: 1px;
	float: left;
}

#stitchLeft .links .right a {
	letter-spacing: normal;
	font-size: 12px;
	color: #666666;
	text-decoration: none;
	text-transform: lowercase;
	font-family: 'Sentinel A', 'Sentinel B', serif;
}

#stitchLeft .links .right a:hover {
	color: #078158;
}

#stitchRight {
	padding-left: 0px;
	padding-bottom: 10px;
	padding-right: 0px;
	padding-top: 10px;
	float: right;
	width: 260px;
}

#stitchRight h3 {
	color: #666666;
	margin: 0px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	font-family: 'BrandonGrotesque-Medium', sans-serif;
}

#stitchRight .staff {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#stitchRight .staff li {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 16px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 20px;
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url(../images/hr_x_sm.gif);
}

#stitchRight .staff li.first {
	margin-top: 0px;
	padding-top: 0px;
	background-image: none;
}

#stitchRight .staff li h4 {
	text-align: center;
	margin: 0px;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
	color: #666666;
	font-family: 'BrandonGrotesque-Medium', sans-serif;
}

#stitchRight .staff li h4 a {
	text-decoration: none;
	color: #666666;
}

#stitchRight .staff li h4 a:hover {
	color: #078158;
}

#stitchRight .staff li p {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 8px;
	color: #666666;
	text-align: center;
	font-size: 14px;
	font-family: 'Sentinel A', 'Sentinel B', serif;
}

#stitchSlideshow {
	padding-left: 30px;
	padding-bottom: 0px;
	padding-right: 30px;
	padding-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 30px;
}

#stitchSlideshow .slideshow {
	width: 100%;
	overflow: hidden;
}

#stitchSlideshow .staffPhoto {
	width: 100%;
	display: none;
}

#contactContent {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 20px;
}

#businessContent {
	padding-left: 30px;
	padding-bottom: 0px;
	padding-right: 30px;
	padding-top: 0px;
	background-position: 700px top;
	background-repeat: repeat-y;
	background-image: url(../images/vr_tile.gif);
	overflow: hidden;
}

#businessLeft {
	float: left;
	width: 640px;
}

#businessLeft h3 {
	margin: 0px;
	color: #666666;
	font-size: 26px;
	font-style: normal;
	font-weight: normal;
	font-family: 'BodoniBT-BookItalic', serif;
}

#businessLeft .blurb {
	margin-left: 0px;
	margin-bottom: 26px;
	margin-right: 0px;
	margin-top: 10px;
	color: #666666;
	line-height: 24px;
	font-size: 16px;
	font-family: 'Sentinel A', 'Sentinel B', serif;
	border-bottom-color: #666666;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-left: 0px;
	padding-bottom: 20px;
	padding-right: 0px;
	padding-top: 0px;
}

#contactForm {
	width: 640px;
	margin-left: auto;
	margin-bottom: 0px;
	margin-right: auto;
	margin-top: 0px;
}

#contactForm p {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 10px;
}

#contactForm textarea {
	letter-spacing: 1px;
	font-size: 10px;
	text-transform: uppercase;
	color: #666666;
	height: 100px;
	padding: 10px;
	border-color: #666666;
	border-style: solid;
	border-width: 1px;
	width: 618px;
	margin: 0px;
	background-color: transparent;
	font-family: 'BrandonGrotesque-Medium', sans-serif;
}

#contactForm .container {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 20px;
	background-position: 222px top;
	background-repeat: repeat-y;
	background-image: url(../images/vr_tile.gif);
	overflow: hidden;
}

#contactForm .left {
	float: left;
	width: 202px;
}

#contactForm .left h4 {
	margin-left: 0px;
	margin-bottom: 10px;
	margin-right: 0px;
	margin-top: 0px;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 10px;
	color: #666666;
	font-family: 'BrandonGrotesque-Medium', sans-serif;
}

#contactForm .left p {
	margin-top: 6px;
	overflow: hidden;
}

#contactForm .left input {
	float: left;
	vertical-align: middle;
}

#contactForm .left label {
	line-height: 16px;
	color: #666666;
	font-size: 12px;
	display: block;
	margin-left: 22px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 3px;
	font-family: 'Sentinel A', 'Sentinel B', serif;
	vertical-align: middle;
}

#contactForm .right {
	float: right;
	width: 398px;
}

#contactForm .right p {
	margin-top: 16px;
}

#contactForm .right .first {
	margin-top: 0px;
}

#contactForm .right .textField {
	color: #666666;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 10px;
	height: 10px;
	margin: 0px;
	padding: 10px;
	border-color: #666666;
	border-style: solid;
	border-width: 1px;
	width: 376px;
	background-color: transparent;
	font-family: 'BrandonGrotesque-Medium', sans-serif;
}

#contactForm .right textarea {
	height: 120px;
	width: 376px;
}

#contactForm .right .submitBtn {
	border-style: none;
	padding-left: 20px;
	padding-bottom: 2px;
	padding-right: 20px;
	padding-top: 3px;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 10px;
	font-size: 10px;
	color: white;
	background-color: #666666;
	font-family: 'DIN1451Com-Engschrift', sans-serif;
	cursor: pointer;
}

#contactForm .right .submitBtn:hover {
	background-color: #078158;
}

#businessRight {
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 30px;
	float: right;
	width: 220px;
}

#businessRight h4 {
	letter-spacing: 2px;
	margin: 0px;
	color: #666666;
	text-transform: uppercase;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	text-align: center;
	font-family: 'BrandonGrotesque-Medium', sans-serif;
}

#businessRight .hr {
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 36px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 30px;
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url(../images/hr_med.gif);
}

#businessRight p {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 8px;
	line-height: 24px;
	color: #666666;
	text-align: center;
	font-size: 14px;
	font-family: 'Sentinel A', 'Sentinel B', serif;
}

#businessRight p a {
	text-decoration: none;
	color: #666666;
}

#businessRight p a:hover {
	color: #078158;
}

#businessRight h5 {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 60px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 1px;
	color: #666666;
	font-size: 9px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 170px;
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url(../images/contact_x_back.gif);
	font-family: 'BrandonGrotesque-Medium', sans-serif;
}

#businessRight h5:hover {
	background-repeat: no-repeat;
	background-image: url(../images/contact_x_back_over.gif);
}

#businessRight h5 a {
	color: #666666;
	text-decoration: none;
}

#businessRight h5 a:hover {
	color: #078158;
}

#press {
	padding-left: 30px;
	padding-bottom: 0px;
	padding-right: 30px;
	padding-top: 40px;
	border-top-color: #666666;
	border-top-style: solid;
	border-top-width: 1px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 40px;
}

#pressContent {
	overflow: hidden;
}

#pressContent h2 {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 30px;
	float: left;
	height: 248px;
	width: 248px;
	background-repeat: no-repeat;
	background-image: url(../images/news_title_back.gif);
	text-indent: -9999px;
}

#pressRight {
	float: right;
	width: 600px;
	overflow: hidden;
}

#pressRight ul {
	float: left;
	width: 260px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 40px;
	padding-top: 0px;
	margin: 0px;
	list-style-type: none;
}

#pressRight li {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 8px;
	line-height: 24px;
	font-size: 14px;
	font-family: 'Sentinel A', 'Sentinel B', serif;
	color: #666666;
}

#employment {
	padding-left: 30px;
	padding-bottom: 0px;
	padding-right: 30px;
	padding-top: 30px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 40px;
	border-top-color: #666666;
	border-top-style: solid;
	border-top-width: 1px;
}

#employmentContent {
	background-position: 250px top;
	background-repeat: repeat-y;
	background-image: url(../images/top_bar_back_tile.png);
	overflow: hidden;
}

#employmentLeft {
	padding-left: 0px;
	padding-bottom: 20px;
	padding-right: 0px;
	padding-top: 20px;
	float: left;
	width: 220px;
}

#employmentLeft h2 {
	font-size: 30px;
	margin: 0px;
	font-style: normal;
	font-weight: normal;
	color: #666666;
	font-family: 'BodoniBT-BookItalic', serif;
}

#employmentLeft p {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 10px;
	line-height: 22px;
	font-size: 14px;
	color: #666666;
	font-family: 'Sentinel A', 'Sentinel B', serif;
}

#employmentLeft ul {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 16px;
	padding: 0px;
	list-style-type: none;
}

#employmentLeft li {
	line-height: 22px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 10px;
	font-family: 'BrandonGrotesque-Medium', sans-serif;
}

#employmentLeft li a {
	text-decoration: none;
	color: #666666;
}

#employmentLeft li a:hover, #employmentLeft li a.active {
	color: #078158;
}

#employmentRight {
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 30px;
	float: right;
	width: 640px;
}

#employmentRight .description {
}

a{color:inherit;}


#employmentRight .description h2,
#employmentRight .description h3 {
	margin: 0px 0 15px 0;
	color: #666666;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	font-family: 'BrandonGrotesque-Medium', sans-serif;
    line-height:1.4;
}



#employmentRight .description ul,
#employmentRight .description p {
	margin-left: 0px;
	margin-bottom:25px;
	margin-right: 0px;
	margin-top: 0;
	line-height: 24px;
	font-size: 16px;
	color: #666666;
	font-family: 'Sentinel A', 'Sentinel B', serif;
}

#employmentRight .description ul{
    font-size:14px;
    margin-bottom:25px;
}

#employmentRight .description p.learnLink {
	line-height: 22px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 10px;
	font-family: 'BrandonGrotesque-Medium', sans-serif;
}

#employmentRight .description p.learnLink a {
	text-decoration: none;
	color: #666666;
}

#employmentRight .description p.learnLink a:hover {
	color: #078158;
}

#employmentRight .submit {
	text-transform: uppercase;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 20px !important;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 20px;
	line-height: 10px !important;
	letter-spacing: 1px;
	font-size: 10px !important;
	border-top-color: #666666;
	border-top-style: solid;
	border-top-width: 1px;
	font-family: 'BrandonGrotesque-Medium', sans-serif !important;
}

#employmentRight .submit a {
	letter-spacing: normal;
	font-size: 12px;
	color: #666666;
	text-decoration: none;
	text-transform: lowercase;
	font-family: 'Sentinel A', 'Sentinel B', serif;
}

#employmentRight .submit a:hover {
	color: #078158;
}

#preload {
	display: none;
}

#missingContent {
	padding-left: 0px;
	padding-bottom: 80px;
	padding-right: 0px;
	padding-top: 80px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 20px;
	width: 980px;
}

#missingContent .container {
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 290px;
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url(../images/404_back.gif);
	width: 980px;
}

#missingContent h2 {
	padding-left: 0px;
	padding-bottom: 8px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	margin: 0px;
	font-size: 28px;
	font-family: 'DIN1451Com-Engschrift', sans-serif;
	color: #666666;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-image: url(../images/hr_sm.png);
}

#missingContent p {
	letter-spacing: 2px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 12px;
	text-transform: uppercase;
	line-height: 24px;
	font-size: 14px;
	text-align: center;
	font-family: 'BrandonGrotesque-Medium', sans-serif;
	color: #666666;
}

#businessLeft .thankyou {
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 240px;
	width: 640px;
}

#businessLeft .thankyou h3 {
	margin: 0px;
	text-align: center;
}

#businessLeft .thankyou p {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 12px;
	text-align: center;
	font-size: 16px;
	font-family: 'Sentinel A', 'Sentinel B', serif;
	color: #666666;
}

#businessLeft .thankyou h6 {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 40px;
	letter-spacing: 1px;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 10px;
	text-align: center;
	font-family: 'BrandonGrotesque-Medium', sans-serif;
	color: #666666;
}

/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) {
	#workTop, #servicesContent, #processContent, #stitchContent, #businessContent, #businessContent .container, #employmentContent {
		background: none;
	}

	#workLeft, #workRight, #servicesLeft, #servicesRight, #processLeft, #processRight, #stitchLeft, #stitchRight, #stitchLeft .links .left, #stitchLeft .links .right,
	#businessLeft, #businessRight, #businessLeft .left, #businessLeft .right, #pressRight, #pressRight ul, #employmentLeft, #employmentRight {
		float: none;
		width: auto;
	}

	#workRight, #processRight, #stitchRight, #employmentRight {
		padding-top: 30px;
		padding-bottom: 0px;
		margin-top: 30px;
		background-position: 0 top;
		background-repeat: repeat-x;
		background-image: url(../images/top_bar_back_tile.png);
	}

	#servicesRight, #businessRight {
		border-top-color: #666666;
		border-top-style: solid;
		border-top-width: 1px;
		padding-top: 30px;
		margin-top: 30px;
	}

	#processLeft {
		padding-top: 0px;
	}

	#processSlideshow {
		margin-top: 30px;
	}

	#stitchLeft .links .right {
		border-left-style: none;
		padding-left: 0px;
	}

	#businessLeft .right {
		margin-top: 20px;
	}

	#businessRight h5 {
		margin-top: 30px;
	}

	#pressContent h2 {
		margin-left: auto;
		margin-bottom: 0px;
		margin-right: auto;
		margin-top: 0px;
		float: none;
	}

	#pressRight {
		text-align: center;
		margin-top: 20px;
	}

	#pressRight ul {
		padding-right: 0px;
	}

	#employmentLeft {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	#contactForm {
		width: 398px;
	}

	#contactForm textarea {
		width: 376px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#homeFooter, #footer {
		padding-top: 0px;
		background: none;
	}

	#homeFooter .container .colLeft, #homeFooter .container .colRight, #footer .container .colLeft, #footer .container .colRight {
		width: 100%;
		float: none;
		margin-top: 28px;
		padding-top: 0px;
	}

	#homeFooter .container .colMiddle, #footer .container .colMiddle {
		width: 100%;
		background-position: center top;
		background-repeat: no-repeat;
		background-image: url(../images/footer_no9.png);
		padding-top: 68px;
		margin-top: 28px;
		border: none;
	}

	#topBar, #processTitle, #stitchTitle {
		padding-left: 0px;
		padding-right: 0px;
		text-align: center;
	}

	#header h1 {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	#headerRight {
		display: none;
	}

	#topNav {
		margin-top: 20px;
		text-align: center;
	}

	#topNav li {
		margin-right: 0px;
	}

	#studioSubnav, #contactSubnav {
		margin-top: 10px;
		text-align: center;
	}

	#studioSubnav li, #contactSubnav li {
		margin-left: 18px;
		margin-right: 18px;
	}

	#servicesSlideshow, #servicesNav {
		display: none;
	}

	#servicesSmall {
		display: block;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	#topContainer {
		position: relative;
	}

	#topBarContainer.home {
		display: none;
	}

	#homeContent h1 {
		height: 50px;
		width: 85px;
		background-size: 85px 50px;
	}

	#homeNav {
		margin-top: 40px;
	}

	#homeNav li {
		line-height: 24px;
		font-size: 24px;
	}

	#homeContent h2 {
		line-height: 11px;
		font-size: 11px;
	}

	#homeFooterContainer {
		padding-top: 40px;
		padding-bottom: 40px;
		position: relative;
	}

	#homeFooter .colMiddle a.downBtn, #homeBottomContainer {
		display: none;
	}

	#header h1 {
		height: 59px;
		width: 100px;
		background-size: contain;
	}

	#header h1 a {
		height: 59px;
		width: 100px;
	}

	#container {
		padding-top: 0px !important;
	}

	#workSubnav .col {
		float: none;
		width: auto;
		margin-right: 0px;
	}

	#workSubnav .col li {
		text-align: center;
	}

	#workRight ul, #workRight li {
		float: none;
		width: auto;
	}

	#studioSubnav li, #contactSubnav li {
		margin-left: 10px;
		margin-right: 10px;
	}

	#contactSubnav li span {
		display: none;
	}

	#contactForm {
		width: 332px;
	}

	#contactForm textarea, #contactForm .right .textField, #contactForm .right textarea {
		width: 238px;
	}

	#servicesSmall .nav li {
		width: 50%
	}
}
